/* Layout */

#stats-layout {
    display: inline-block;
    margin-right: 10px;
}

#job-layout {
    display: inline-block;
    vertical-align: top;
}

/* Views */

#job-name-view {
    font-weight: bold;
}

.career-component {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin-right: 10px;
    vertical-align: top;
}

.career-name-view {
    font-weight: bold;
}

.available-job-view {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin-right: 10px;
    vertical-align: top;
}

.available-job-name-view {
    font-weight: bold;
}

.available-jobs-refresh-component {
    display: inline-block;
    margin-right: 10px;
}

#available-jobs-refresh-container {
    margin-bottom: 10px;
}

/* Components */

.button {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
